@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100&display=swap');

/* la tipografia a utilizar es Roboto y Lobster. */




.main{
    background-repeat: no-repeat;
    background-image: url(../assets/img/imagen_index.jpg);
    background-position: center;
    background-size: cover;
}